# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/

# Logs
*.log*

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Database
*.sqlite3
*.db

# Environment
.env

# Compiled files
*.so
*.o

#hidden files
.*.swp
*.fuse*

#img
*.png
*.jpg